.catalog {
  max-width: 200px;
  width: 100%;
  margin-right: 10px;
  // border-right: 1px solid;

  &__list {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 60px;
    padding-bottom: 130px;
  }


  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    font-weight: 700;
    color: var(--color-dark);
    transition: all 0.3s;
    font-size: 20px;
  }

  &__link:hover {
    border-bottom: 1px solid;
  }

}
