.content {

  &__container {
    display: flex;
    margin: 0 40px;
    border-bottom: 1px solid;
  }

  &__stories {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__top {
    margin-bottom: 30px;
  }

  &__main {
    margin-bottom: 160px;
  }

  &__bottom {
    margin-bottom: 120px;
  }
}





@media (max-width: 766px) {

  .container {
    padding: 0 20px;
  }

  .content {

    &__container {
      margin: 0 20px;
    }


    &__main {
      margin-bottom: 80px;
    }

    &__bottom {
      margin-bottom: 70px;
    }
  }

}
