.content {

  &__container {
    display: flex;
    margin: 0 40px;
    border-bottom: 1px solid;
  }

  &__stories {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__top {
    margin-bottom: 30px;
  }

  &__main {
    margin-bottom: 160px;
  }

  &__bottom {
    margin-bottom: 120px;
  }
}
