.current-product {
  display: none;
  width: 100%;
  margin: 40px auto 70px auto;

  &__container {
    display: flex;
    // justify-content: space-between;
  }
}







@media (max-width: 1024px) {
  .current-product {
    &__container {
      flex-direction: column;
    }
  }
}
