.shop-information {
  display: flex;
  align-items: center;
  justify-content: center;


  &__item {
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-right: 150px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: all .3s;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link:not(:last-child) {
    margin-bottom: 30px;
  }


}
