.stories {
  // height: 100%;

  &__items {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  &__item {
    position: relative;
    width: 100%;
    // width: 33%;
  }

  &__banner {
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
  }

  &__img {
    width: 100%;
  }
}





@media (max-width: 766px) {

  .stories {


    &__items {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;
    }


    .column {
      width: 49%;
    }

  }
}




@media (max-width: 576px) {
  .stories {

    .column {
      width: 48%;
    }
  }
}


@media (max-width: 329px) {
  .stories {

    .column {
      width: 47%;
    }
  }
}