<div class="overlay-burger catalog-filters">
  <button class="overlay-burger__button-close">x</button>
  <aside class="catalog content__catalog">
    <ul class="catalog__list">
      <li class="catalog__item catalog-filters__item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Colors</button>
          <img
            class="breadcrumbs__arrow-down"
            src="../img/down-arrow.png"
            alt=""
          />
        </div>
        <ul class="lists catalog-filters__lists catalog-filters__color">
          <li class="list">
            <label for="black" class="list__label">
              <input class="list__check-input" id="black" type="checkbox" />
              <span class="list__title">Black</span>
            </label>
          </li>
          <li class="list">
            <label for="blue" class="list__label">
              <input class="list__check-input" id="blue" type="checkbox" />
              <span class="list__title">Blue</span>
            </label>
          </li>
          <li class="list">
            <label for="brown" class="list__label">
              <input class="list__check-input" id="brown" type="checkbox" />
              <span class="list__title">Brown</span>
            </label>
          </li>
          <li class="list">
            <label for="silver" class="list__label">
              <input class="list__check-input" id="silver" type="checkbox" />
              <span class="list__title">Silver</span>
            </label>
          </li>
          <li class="list">
            <label for="beige" class="list__label">
              <input class="list__check-input" id="beige" type="checkbox" />
              <span class="list__title">Beige</span>
            </label>
          </li>
          <li class="list">
            <label for="red" class="list__label">
              <input class="list__check-input" id="red" type="checkbox" />
              <span class="list__title">Red</span>
            </label>
          </li>
        </ul>
      </li>
      <li class="catalog__item catalog-filters__item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Designed in</button>
          <img
            class="breadcrumbs__arrow-down"
            src="../img/down-arrow.png"
            alt=""
          />
        </div>
        <ul class="lists catalog-filters__lists catalog-filters__designed">
          <li class="list">
            <label for="designedInParish" class="list__label">
              <input
                class="list__check-input"
                id="designedInParish"
                type="checkbox"
              />
              <span class="list__title">designed in parish</span>
            </label>
          </li>
          <li class="list">
            <label for="designedInStockholm" class="list__label">
              <input
                class="list__check-input"
                id="designedInStockholm"
                type="checkbox"
              />
              <span class="list__title">designed in stockholm</span>
            </label>
          </li>
        </ul>
      </li>
      <li class="catalog__item catalog-filters__item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Size</button>
          <img
            class="breadcrumbs__arrow-down"
            src="../img/down-arrow.png"
            alt=""
          />
        </div>
        <ul class="lists catalog-filters__lists catalog-filters__size">
          <li class="list">
            <label for="size-35" class="list__label">
              <input class="list__check-input" id="35" type="checkbox" />
              <span class="list__title">35</span>
            </label>
          </li>
          <li class="list">
            <label for="size-36" class="list__label">
              <input class="list__check-input" id="36" type="checkbox" />
              <span class="list__title">36</span>
            </label>
          </li>
          <li class="list">
            <label for="size-37" class="list__label">
              <input class="list__check-input" id="37" type="checkbox" />
              <span class="list__title">37</span>
            </label>
          </li>
          <li class="list">
            <label for="size-38" class="list__label">
              <input class="list__check-input" id="38" type="checkbox" />
              <span class="list__title">38</span>
            </label>
          </li>
          <li class="list">
            <label for="size-39" class="list__label">
              <input class="list__check-input" id="39" type="checkbox" />
              <span class="list__title">39</span>
            </label>
          </li>
          <li class="list">
            <label for="size-40" class="list__label">
              <input class="list__check-input" id="40" type="checkbox" />
              <span class="list__title">40</span>
            </label>
          </li>
          <li class="list">
            <label for="size-41" class="list__label">
              <input class="list__check-input" id="41" type="checkbox" />
              <span class="list__title">41</span>
            </label>
          </li>
          <li class="list">
            <label for="size-41" class="list__label">
              <input class="list__check-input" id="no-size" type="checkbox" />
              <span class="list__title">no size</span>
            </label>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
