<div class="catalog-shoes">
  <div class="catalog-shoes__container">
    <div class="catalog-shoes__navigation catalog-navigation">
      <ul class="catalog-navigation__items">
        <li class="catalog-navigation__item">
          <a class="catalog-navigation__link" href="../index.html">Home</a>
          <img
            class="catalog-navigation__img"
            src="../img/right-arrow.png"
            alt=""
          />
        </li>
        <li class="catalog-navigation__item">
          <a class="catalog-navigation__link" href="../shoes.html">Shoes</a>
          <img
            class="catalog-navigation__img"
            src="../img/right-arrow.png"
            alt=""
          />
        </li>
        <li class="catalog-navigation__item">
          <span class="catalog-navigation__link">New shoes</span>
        </li>
      </ul>
      <h2 class="catalog-navigation__title">New shoes</h2>
    </div>
    <ul class="breadcrumbs catalog-shoes__breadcrumbs">
      <li class="breadcrumbs__item filters">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Filters</button>
          <img
            class="breadcrumbs__arrow-down"
            src="../img/plus.png"
            alt=""
          />
        </div>
      </li>
      <li class="breadcrumbs__item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Colors</button>
          <img
            class="breadcrumbs__arrow-down"
            src="../img/down-arrow.png"
            alt=""
          />
        </div>
        <ul class="lists">
          <li class="list">
            <label for="black" class="list__label">
              <input class="list__check-input" id="black" type="checkbox" />
              <span class="list__title">Black</span>
            </label>
          </li>
          <li class="list">
            <label for="blue" class="list__label">
              <input class="list__check-input" id="blue" type="checkbox" />
              <span class="list__title">Blue</span>
            </label>
          </li>
          <li class="list">
            <label for="brown" class="list__label">
              <input class="list__check-input" id="brown" type="checkbox" />
              <span class="list__title">Brown</span>
            </label>
          </li>
          <li class="list">
            <label for="silver" class="list__label">
              <input class="list__check-input" id="silver" type="checkbox" />
              <span class="list__title">Silver</span>
            </label>
          </li>
          <li class="list">
            <label for="beige" class="list__label">
              <input class="list__check-input" id="beige" type="checkbox" />
              <span class="list__title">Beige</span>
            </label>
          </li>
          <li class="list">
            <label for="red" class="list__label">
              <input class="list__check-input" id="red" type="checkbox" />
              <span class="list__title">Red</span>
            </label>
          </li>
        </ul>
      </li>
      <li class="breadcrumbs__item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Designed in</button>
          <img
            class="breadcrumbs__arrow-down"
            src="../img/down-arrow.png"
            alt=""
          />
        </div>
        <ul class="lists">
          <li class="list">
            <label for="designedInParish" class="list__label">
              <input
                class="list__check-input"
                id="designedInParish"
                type="checkbox"
              />
              <span class="list__title">designed in parish</span>
            </label>
          </li>
          <li class="list">
            <label for="designedInStockholm" class="list__label">
              <input
                class="list__check-input"
                id="designedInStockholm"
                type="checkbox"
              />
              <span class="list__title">designed in stockholm</span>
            </label>
          </li>
        </ul>
      </li>
      <li class="breadcrumbs__item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Size</button>
          <img
            class="breadcrumbs__arrow-down"
            src="../img/down-arrow.png"
            alt=""
          />
        </div>
        <ul class="lists">
          <li class="list">
            <label for="size-35" class="list__label">
              <input class="list__check-input" id="35" type="checkbox" />
              <span class="list__title">35</span>
            </label>
          </li>
          <li class="list">
            <label for="size-36" class="list__label">
              <input class="list__check-input" id="36" type="checkbox" />
              <span class="list__title">36</span>
            </label>
          </li>
          <li class="list">
            <label for="size-37" class="list__label">
              <input class="list__check-input" id="37" type="checkbox" />
              <span class="list__title">37</span>
            </label>
          </li>
          <li class="list">
            <label for="size-38" class="list__label">
              <input class="list__check-input" id="38" type="checkbox" />
              <span class="list__title">38</span>
            </label>
          </li>
          <li class="list">
            <label for="size-39" class="list__label">
              <input class="list__check-input" id="39" type="checkbox" />
              <span class="list__title">39</span>
            </label>
          </li>
          <li class="list">
            <label for="size-40" class="list__label">
              <input class="list__check-input" id="40" type="checkbox" />
              <span class="list__title">40</span>
            </label>
          </li>
          <li class="list">
            <label for="size-41" class="list__label">
              <input class="list__check-input" id="41" type="checkbox" />
              <span class="list__title">41</span>
            </label>
          </li>
          <li class="list">
            <label for="size-41" class="list__label">
              <input class="list__check-input" id="no-size" type="checkbox" />
              <span class="list__title">no size</span>
            </label>
          </li>
        </ul>
      </li> 
      <li class="breadcrumbs__item clear-item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Clear</button>
          <img class="breadcrumbs__clear" src="../img/close.png" alt="" />
        </div>
      </li>
    </ul>
    <ul class="catalog-shoes__items clothes">
      <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-1.webp"
              alt="shoe - Chunky Leather Tassle Loafers"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-1-2.webp"
              alt="shoe - Chunky Leather Tassle Loafers"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Chunky Leather Tassle Loafers</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-2.webp"
              alt="shoe - Chunky Leather Gladiator Sandals"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-2-2.webp"
              alt="shoe - Chunky Leather Gladiator Sandals"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Chunky Leather Gladiator Sandals</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-3.webp"
              alt="shoe - Strappy Heeled Leather Sandals"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-3-2.webp"
              alt="shoe - Strappy Heeled Leather Sandals"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Strappy Heeled Leather Sandals</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-4.webp"
              alt="shoe - Veja Venturi"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-4-2.webp"
              alt="shoe - Veja Venturi"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Veja Venturi</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-5.webp"
              alt="shoe - Pointed Leather Ballerina Flats"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-5-2.webp"
              alt="shoe - Pointed Leather Ballerina Flats"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Pointed Leather Ballerina Flats</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-6.webp"
              alt="shoe - Pointed Leather Ballerina Flats"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-6-2.webp"
              alt="shoe - Pointed Leather Ballerina Flats"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Pointed Leather Ballerina Flats</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-7.webp"
              alt="shoe - Pointed Leather Ballerina Flats"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-7-2.webp"
              alt="shoe - Pointed Leather Ballerina Flats"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Pointed Leather Ballerina Flats</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-8.webp"
              alt="shoe - Pointed Leather Ballerina Flats"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-8-2.webp"
              alt="shoe - Pointed Leather Ballerina Flats"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Pointed Leather Ballerina Flats</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item clothes__item--load">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-9.webp"
              alt="shoe - RECYCLED POLYAMIDE"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-9-2.webp"
              alt="shoe - RECYCLED POLYAMIDE"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">RECYCLED POLYAMIDE</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item clothes__item--load">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-10.webp"
              alt="shoe - Chunky Leather Chelsea Boots"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-10-2.webp"
              alt="shoe - Chunky Leather Chelsea Boots"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Chunky Leather Chelsea Boots</p>
            <span class="clothes__price">1600 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item clothes__item--load">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-11.webp"
              alt="shoe - Chunky Leather Chelsea Boots"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-11-2.webp"
              alt="shoe - Chunky Leather Chelsea Boots"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">CHROME-FREE TANNING</p>
            <span class="clothes__price">14500 руб.</span>
          </div>
        </a>
      </li>
      <li class="clothes__item clothes__item--load">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-12.webp"
              alt="shoe - Chunky Leather Chelsea Boots"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-12-2.webp"
              alt="shoe - Chunky Leather Chelsea Boots"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Crystal Buckled Leather Loafers</p>
            <span class="clothes__price">2800 руб.</span>
          </div>
        </a>
      </li>
    </ul>
    <button class="catalog-shoes__button-load-more btn-load-more btn-reset">
      load more
    </button>
  </div>
</div>
