<div class="catalog-shoes">
  <div class="catalog-shoes__container">
    <div class="catalog-shoes__navigation catalog-navigation">
      <ul class="catalog-navigation__items">
        <li class="catalog-navigation__item">
          <a class="catalog-navigation__link" href="../index.html">Home</a>
          <img
            class="catalog-navigation__img"
            src="../img/right-arrow.png"
            alt=""
          />
        </li>
        <li class="catalog-navigation__item">
          <a class="catalog-navigation__link" href="../shoes.html">Shoes</a>
          <img
            class="catalog-navigation__img"
            src="../img/right-arrow.png"
            alt=""
          />
        </li>
        <li class="catalog-navigation__item">
          <span class="catalog-navigation__link">New shoes</span>
        </li>
      </ul>
      <h2 class="catalog-navigation__title">New shoes</h2>
    </div>
    <div class="catalog-shoes__search-knits search-knits">
      <input
        class="search-knits__input search-filter-knitting"
        type="text"
        placeholder="Search knits"
        value=""
      />
      <button class="search-knits__button search-filter-button btn-reset">
        <img class="search-knits__img" src="../img/search.png" alt="" />
      </button>
      <ul class="search-knits__items-hint items-hint">
        <!-- <li class="items-hint__product">
          <span class="items-hint__title">sweater item</span>
          <button class="items-hint__button-search btn-reset">
            <img
              class="items-hint__img-search"
              src="../img/search.png"
              alt=""
            />
          </button>
        </li> -->
      </ul>
    </div>
    <div class="catalog-shoes__showing-res showing-results">
      <span class="showing-results__title">showing results for: </span>
      <span class="showing-results__subtitle"></span>
    </div>
    <ul class="breadcrumbs catalog-shoes__breadcrumbs">
      <li class="breadcrumbs__item filter-item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Filters</button>
          <img class="breadcrumbs__arrow-down" src="../img/plus.png" alt="" />
        </div>
      </li>
      <li class="breadcrumbs__item">
        <div class="breadcrumbs__color-box color-item">
          <button class="breadcrumbs__btn-color btn-reset">
            Colors
            <img
              class="breadcrumbs__arrow-down"
              src="../img/down-arrow.png"
              alt=""
            />
          </button>
        </div>
        <ul class="lists color color-lists">
          <li class="list">
            <label for="black" class="list__label">
              <input
                class="list__check-input color-input"
                id="black"
                type="checkbox"
                name="Black"
              />
              <span class="list__title">Black</span>
            </label>
          </li>
          <li class="list">
            <label for="blue" class="list__label">
              <input
                class="list__check-input color-input"
                id="blue"
                type="checkbox"
                name="Blue"
              />
              <span class="list__title">Blue</span>
            </label>
          </li>
          <li class="list">
            <label for="gray" class="list__label">
              <input
                class="list__check-input color-input"
                id="gray"
                type="checkbox"
                name="Gray"
              />
              <span class="list__title">Gray</span>
            </label>
          </li>
          <li class="list">
            <label for="green" class="list__label">
              <input
                class="list__check-input color-input"
                id="green"
                type="checkbox"
                name="Green"
              />
              <span class="list__title">Green</span>
            </label>
          </li>
          <li class="list">
            <label for="brown" class="list__label">
              <input
                class="list__check-input color-input"
                id="brown"
                type="checkbox"
                name="Brown"
              />
              <span class="list__title">Brown</span>
            </label>
          </li>
          <li class="list">
            <label for="silver" class="list__label">
              <input
                class="list__check-input color-input"
                id="silver"
                type="checkbox"
                name="Silver"
              />
              <span class="list__title">Silver</span>
            </label>
          </li>
          <li class="list">
            <label for="yellow" class="list__label">
              <input
                class="list__check-input color-input"
                id="silver"
                type="checkbox"
                name="Yellow"
              />
              <span class="list__title">Yellow</span>
            </label>
          </li>
          <li class="list">
            <label for="beige" class="list__label">
              <input
                class="list__check-input color-input"
                id="beige"
                type="checkbox"
                name="Beige"
              />
              <span class="list__title">Beige</span>
            </label>
          </li>
          <li class="list">
            <label for="red" class="list__label">
              <input
                class="list__check-input color-input"
                id="red"
                type="checkbox"
                name="Red"
              />
              <span class="list__title">Red</span>
            </label>
          </li>
        </ul>
      </li>
      <li class="breadcrumbs__item">
        <div class="breadcrumbs__color-box size-item">
          <button class="breadcrumbs__btn-color btn-reset">
            Size
            <img
              class="breadcrumbs__arrow-down"
              src="../img/down-arrow.png"
              alt=""
            />
          </button>
        </div>
        <ul class="lists size size-lists">
          <li class="list">
            <label for="34" class="list__label">
              <input
                class="list__check-input size-input"
                id="34"
                type="checkbox"
                name="34"
              />
              <span class="list__title">34</span>
            </label>
          </li>
          <li class="list">
            <label for="35" class="list__label">
              <input
                class="list__check-input size-input"
                id="35"
                type="checkbox"
                name="35"
              />
              <span class="list__title">35</span>
            </label>
          </li>
          <li class="list">
            <label for="36" class="list__label">
              <input
                class="list__check-input size-input"
                id="36"
                type="checkbox"
                name="36"
              />
              <span class="list__title">36</span>
            </label>
          </li>
          <li class="list">
            <label for="37" class="list__label">
              <input
                class="list__check-input size-input"
                id="37"
                type="checkbox"
                name="37"
              />
              <span class="list__title">37</span>
            </label>
          </li>
          <li class="list">
            <label for="38" class="list__label">
              <input
                class="list__check-input size-input"
                id="38"
                type="checkbox"
                name="38"
              />
              <span class="list__title">38</span>
            </label>
          </li>
          <li class="list">
            <label for="39" class="list__label">
              <input
                class="list__check-input size-input"
                id="39"
                type="checkbox"
                name="39"
              />
              <span class="list__title">39</span>
            </label>
          </li>
          <li class="list">
            <label for="40" class="list__label">
              <input
                class="list__check-input size-input"
                id="40"
                type="checkbox"
                name="40"
              />
              <span class="list__title">40</span>
            </label>
          </li>
          <li class="list">
            <label for="41" class="list__label">
              <input
                class="list__check-input size-input"
                id="41"
                type="checkbox"
                name="41"
              />
              <span class="list__title">41</span>
            </label>
          </li>
          <li class="list">
            <label for="42" class="list__label">
              <input
                class="list__check-input size-input"
                id="42"
                type="checkbox"
                name="42"
              />
              <span class="list__title">42</span>
            </label>
          </li>
        </ul>
      </li>
      <li class="breadcrumbs__item clear-item">
        <div class="breadcrumbs__color-box">
          <button class="breadcrumbs__btn-color btn-reset">Clear</button>
          <img class="breadcrumbs__clear" src="../img/close.png" alt="" />
        </div>
      </li>
    </ul>
    <!-- <div class="selected-filters"> -->
    <!-- <span class="selected-filters__title">Selected Filters: </span>
      <ul class="selected-filters__items"></ul> -->
    <ul class="catalog-shoes__items clothes">
      <!-- <li class="clothes__item">
        <a class="clothes__box" href="#">
          <div class="clothes__content">
            <img
              class="clothes__img"
              src="../img/shoe-2.webp"
              alt="shoe - Chunky Leather Gladiator Sandals"
            />
            <img
              class="clothes__img clothes__img--hover"
              src="../img/shoe-2-2.webp"
              alt="shoe - Chunky Leather Gladiator Sandals"
            />
          </div>
          <div class="clothes__info">
            <p class="clothes__name">Chunky Leather Gladiator Sandals</p>
            <span class="clothes__price">1200 руб.</span>
          </div>
        </a>
      </li> -->
    </ul>
    <button class="catalog-shoes__button-load-more btn-load-more btn-reset">
      load more
    </button>
    <!-- </div> -->
  </div>
</div>
