<div class="overlay-burger">
  <button class="overlay-burger__button-close">x</button>
  <aside class="catalog content__catalog">
    <ul class="catalog__list">
      <li class="catalog__item">
        <a class="catalog__link" href="#">All clothing</a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">Jeans</a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">Shoes</a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">Bags</a>
      </li>
    </ul>
  </aside>
</div>
