<!-- <section class="content"> -->
<!-- <div class="container content__container"> -->
<div class="stories content__stories">
  <div class="content__top stories-top">
    <ul class="stories__items">
      <li class="stories__item">
        <a href="../shoes.html" target="_blank">
          <img
            class="stories__img"
            src="../img/banner-1.jpg"
            alt="knits of now"
          />
          <div class="stories__banner">
            <img
              class="stories__img"
              src="../img/banner-top-1.jpg"
              alt="knits of now"
            />
          </div>
        </a>
      </li>
      <li class="stories__item column">
        <a href="../knitted.html" target="_blank">
          <img
            class="stories__img"
            src="../img/banner-2.jpg"
            alt="new season shoes"
          />
          <div class="stories__banner">
            <img
              class="stories__img"
              src="../img/banner-top-2.jpg"
              alt="knits of now"
            />
          </div>
        </a>
      </li>
      <li class="stories__item column">
        <a href="../blouses.html" target="_blank">
          <img
            class="stories__img"
            src="../img/banner-3.jpg"
            alt="bring it on blouses"
          />
          <div class="stories__banner">
            <img
              class="stories__img"
              src="../img/banner-top-3.jpg"
              alt="knits of now"
            />
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="content__main stories-main">
    <a href="#" target="_blank">
      <img class="stories-main__img" src="../img/banner-4-3.jpg" alt="" />
      <div class="stories-main__banner">
        <img
          class="stories-top__img"
          src="../img/banner-main.jpg"
          alt="knits of now"
        />
      </div>
    </a>
  </div>
  <div class="content__bottom stories-bottom">
    <article class="stories-bottom__article">
      <h2 class="stories-bottom__title">We are & Other Stories</h2>
      <ul class="stories__items">
        <li class="stories__item">
          <a href="#" target="_blank">
            <img
              class="stories__img"
              src="../img/banner-5.jpg"
              alt="knits of now"
            />
            <div class="stories__banner">
              <img
                class="stories__img"
                src="../img/banner-bottom-1.jpg"
                alt="knits of now"
              />
            </div>
          </a>
        </li>
        <li class="stories__item column">
          <a href="#" target="_blank">
            <img
              class="stories__img"
              src="../img/banner-6.jpg"
              alt="new season shoes"
            />
            <div class="stories__banner">
              <img
                class="stories__img"
                src="../img/banner-top-2.jpg"
                alt="knits of now"
              />
            </div>
          </a>
        </li>
        <li class="stories__item column">
          <a href="#" target="_blank">
            <img
              class="stories__img"
              src="../img/banner-7.jpg"
              alt="bring it on blouses"
            />
            <div class="stories__banner">
              <img
                class="stories__img"
                src="../img/banner-top-3.jpg"
                alt="knits of now"
              />
            </div>
          </a>
        </li>
      </ul>
    </article>
  </div>
</div>
<!-- </div> -->
<!-- </section> -->
