<div class="current-product">
  <div class="current-product__container">
    <div class="current-product__inner product">
      <ul class="product__images"></ul>
      <div class="product__buttons">
        <button class="product__btn-left btn-reset">
          <img
            class="product__img-left-arrow"
            src="../img/left-arrow.png"
            alt=""
          />
        </button>
        <button class="product__btn-right btn-reset">
          <img
            class="product__img-right-arrow"
            src="../img/right-arrow.png"
            alt=""
          />
        </button>
      </div>
    </div>

    <aside class="product-descr">
      <span class="product-descr__designed">DESIGNED IN PARIS</span>
      <h2 class="product-descr__name"></h2>
      <h4 class="product-descr__price"></h4>
      <!-- <h5 class="product-descr__material">SILK</h5> -->
      <h5 class="product-descr__name-color"></h5>
      <ul class="product-descr__color-items">
        <!-- <li class="product-descr__color-item">
          <img src="../img/productsImg/knits/2/colors/black.jpg" alt="" />
        </li>
        <li class="product-descr__color-item">
          <img src="../img/productsImg/knits/2/colors/cream.jpg" alt="" />
        </li>
        <li class="product-descr__color-item">
          <img src="../img/productsImg/knits/2/colors/dark-taupe.jpg" alt="" />
        </li>
        <li class="product-descr__color-item">
          <img src="../img/productsImg/knits/2/colors/light-belge.jpg" alt="" />
        </li>
        <li class="product-descr__color-item">
          <img
            src="../img/productsImg/knits/2/colors/light-purple.jpg"
            alt=""
          />
        </li>
        <li class="product-descr__color-item">
          <img src="../img/productsImg/knits/2/colors/taupe.jpg" alt="" />
        </li> -->
      </ul>
      <!-- <ul class="product-descr__box-colors">
          <li class="product-descr__color">
            <button class="product-descr__btn-color btn-reset">
              <img
                class="product-descr__img-box product-descr__img-black-polka"
                src="../img/color-product/color-1.webp"
                alt="color product"
              />
            </button>
          </li>
          <li class="product-descr__color">
            <button class="product-descr__btn-color btn-reset">
              <img
                class="product-descr__img-box product-descr__img-white"
                src="../img/color-product/color-2.webp"
                alt="color product"
              />
            </button>
          </li>
        </ul> -->
      <span class="product-descr__size">Size</span>
      <ul class="product-descr__dimension size-box"></ul>
      <h5 class="product-descr__select-size"></h5>
      <button class="product-descr__button-add-bag btn-reset">
        Add to bag
      </button>
      <!-- <p class="product-descr__text">
        Buttoned mulberry silk blouse with a relaxed, fluid silhouette and a
        neck tie.
      </p> -->

      <div class="product-descr__modal-pop-up_basket">
        <div class="product-descr__basket pop-up_basket">
          <div class="pop-up_basket__shopping-bag">
            Shopping bag (<span class="pop-up_basket__count">5</span>)
          </div>
          <div class="pop-up_basket__inner">
            <div class="pop-up_basket__img-box">
              <img class="pop-up_basket__img" src="" alt="" />
            </div>
            <div class="pop-up_basket__descr">
              <p class="pop-up_basket__name-product"></p>
              <p class="pop-up_basket__price-product"></p>
              <p class="pop-up_basket__quantity-product">
                Quantity: <span></span>
              </p>
              <p class="pop-up_basket__color-product">Color: <span></span></p>
              <p class="pop-up_basket__size-product">Size: <span></span></p>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
