<div class="current-product">
  <div class="current-product__container">
    <div class="current-product__inner product">
      <ul class="product__images">
        <li
          class="product__item-img product__active-img product__active-max-width"
        >
          <img
            class="product__img"
            src="../img/current-product/product-1.jpg"
            alt=""
          />
        </li>
        <li class="product__item-img product__active-img">
          <img
            class="product__img"
            src="../img/current-product/product-1-2.jpg"
            alt=""
          />
        </li>
        <li class="product__item-img">
          <img
            class="product__img"
            src="../img/current-product/product-1-3.webp"
            alt=""
          />
        </li>
      </ul>
      <!-- <div class="product__buttons">
        <button class="product__btn-left btn-reset">
          <img
            class="product__img-left-arrow"
            src="../img/left-arrow.png"
            alt=""
          />
        </button>
        <button class="product__btn-right btn-reset">
          <img
            class="product__img-right-arrow"
            src="../img/right-arrow.png"
            alt=""
          />
        </button>
      </div> -->
    </div>
    <aside class="product-descr">
      <span class="product-descr__designed">DESIGNED IN PARIS</span>
      <h2 class="product-descr__name">Neck Tie Silk Blouse</h2>
      <h4 class="product-descr__price">3 460 руб.</h4>
      <h5 class="product-descr__material">SILK</h5>
      <h5 class="product-descr__name-color">White</h5>
      <ul class="product-descr__box-colors">
        <li class="product-descr__color">
          <button class="product-descr__btn-color btn-reset">
            <img
              class="product-descr__img-box product-descr__img-black-polka"
              src="../img/color-product/color-1.webp"
              alt="color product"
            />
          </button>
        </li>
        <li class="product-descr__color">
          <button class="product-descr__btn-color btn-reset">
            <img
              class="product-descr__img-box product-descr__img-white"
              src="../img/color-product/color-2.webp"
              alt="color product"
            />
          </button>
        </li>
      </ul>
      <span class="product-descr__size">Size</span>
      <ul class="product-descr__dimension size-box">
        <li class="size-box__item">
          <span class="size-box__num">32</span>
        </li>
        <li class="size-box__item">
          <span class="size-box__num">34</span>
        </li>
        <li class="size-box__item">
          <span class="size-box__num">36</span>
        </li>
        <li class="size-box__item">
          <span class="size-box__num">38</span>
        </li>
        <li class="size-box__item">
          <span class="size-box__num">40</span>
        </li>
        <li class="size-box__item">
          <span class="size-box__num">42</span>
        </li>
      </ul>
      <button class="product-descr__button-add-bag btn-reset"></button>
      <!-- <p class="product-descr__text">
        Buttoned mulberry silk blouse with a relaxed, fluid silhouette and a
        neck tie.
      </p> -->
    </aside>
  </div>
</div>
