<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__media">
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://www.facebook.com/andotherstories"
          target="_blank"
        >
          <img
            class="footer__link-img"
            src="../img/media/facebook.png"
            alt="facebook"
          />
        </a>
      </li>
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://www.pinterest.ru/andotherstories/"
          target="_blank"
        >
          <img
            class="footer__link-img"
            src="../img/media/pinterest.png"
            alt="pinterest"
          />
        </a>
      </li>
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://www.instagram.com/accounts/login/?next=/andotherstories/#"
          target="_blank"
        >
          <img
            class="footer__link-img"
            src="../img/media/instagram.png"
            alt="instagram"
          />
        </a>
      </li>
      <li class="footer__item">
        <a
          class="footer__link"
          href="https://www.youtube.com/user/andotherstories"
          target="_blank"
        >
          <img
            class="footer__link-img"
            src="../img/media/youtube.png"
            alt="youtube"
          />
        </a>
      </li>
    </ul>
    <h3 class="footer__title">Sign up for our newsletter and get 10% off.</h3>
    <button class="footer__sign-up">Sign up now</button>
    <div class="sign-up">
      <div class="modal-sign-up footer__modal-sign-up">
        <section class="modal-sign-up__container">
          <button class="modal-sign-up__button-close">x</button>
          <form action="#" class="modal-sign-up__form">
            <h2 class="modal-sign-up__title">Sign up and get 10% off</h2>
            <p class="modal-sign-up__subtitle">
              Keep up with our news, <br />
              co-labs and latest stories. <br />
              All new subscribers get 10% off <br />
              one purchase.
            </p>
            <label class="modal-sign-up__label-email">
              <input type="email" class="modal-sign-up__input-email" />
              <!-- Your email -->
              <div class="modal-sign-up__email-title">Your email:</div>
            </label>
            <div class="modal-sign-up__checkbox">
              <input class="modal-sign-up__checkbox-privacy" type="checkbox" />
              <a class="modal-sign-up__private-title" href="#">
                Private notice
              </a>
            </div>
            <button
              class="modal-sign-up__button-subscr"
              name="subscribe"
              disabled
            >
              Subscribe
            </button>
          </form>
        </section>
      </div>
    </div>
    <ul class="shop-information footer__information">
      <li class="shop-information__item">
        <h4 class="shop-information__title">About</h4>
        <a class="shop-information__link" href="#">About us</a>
        <a class="shop-information__link" href="#">You & Other Stories</a>
        <a class="shop-information__link" href="#">Co-labs</a>
        <a class="shop-information__link" href="#">Sustainability</a>
        <a class="shop-information__link" href="#">Recycling</a>
      </li>
      <li class="shop-information__item">
        <h4 class="shop-information__title">Customer service</h4>
        <a class="shop-information__link" href="#">Payment</a>
        <a class="shop-information__link" href="#">Delivery</a>
        <a class="shop-information__link" href="#"> Return & refund</a>
        <a class="shop-information__link" href="#">FAQ</a>
        <a class="shop-information__link" href="#">Size guide</a>
      </li>
      <li class="shop-information__item">
        <h4 class="shop-information__title">Contact</h4>
        <a class="shop-information__link" href="#">Contact us</a>
        <a class="shop-information__link" href="#">Store locator</a>
        <a class="shop-information__link" href="#">Press</a>
        <a class="shop-information__link" href="#">Affiliates</a>
        <a class="shop-information__link" href="#">Career</a>
      </li>
    </ul>
  </div>
</footer>
