<header class="header">
  <div class="container header__container">
    <buttom class="header__burger burger burger-visible btn-reset">
      <img
        class="burger__img"
        src="../img/burger.png"
        alt="кнопка для открытия меню-навигации"
      />
    </buttom>
    <div class="header__inner">
      <a class="logo header__logo" href="../index.html" aria-label="logo">
        <img src="../img/logo.svg" alt="" />
      </a>
      <ul class="shop-nav header__shop-nav">
        <li class="shop-nav__item">
          <a
            class="shop-nav__link login card"
            href="#"
            aria-label="identification"
          >
            <img class="card__img" src="../img/go-to-login.png" alt="" />
          </a>
        </li>
        <li class="shop-nav__item">
          <a
            class="shop-nav__link selected card"
            href="#"
            aria-label="go to selected"
          >
            <img class="card__img" src="../img/selected.png" alt="" />
            <span class="card__quantity"></span>
          </a>
        </li>
        <li class="shop-nav__item logo-shop-cart">
          <a
            class="shop-nav__link basket card"
            href=""
            aria-label="go to basket"
          >
            <img class="card__img" src="../img/basket.png" alt="" />
            <span class="card__quantity"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="overlay-authorize auth-active">
      <form class="modal-authorize header__modal-authorize">
        <!-- active-modal-authorize -->
        <section class="modal-authorize__inner">
          <button class="modal-authorize__button-close sign-in-close">x</button>
          <div class="modal-authorize__indicators">
            <button
              class="modal-authorize__sign-in btn-reset active-modal-auth"
            >
              <!-- active-modal-auth -->
              Sign in
            </button>
            <button
              class="modal-authorize__new-customer new-customer btn-reset"
            >
              New customer
            </button>
          </div>
          <div class="modal-authorize__email-box">
            <input
              class="modal-authorize__input-email"
              type="email"
              id="email"
              placeholder="Your Email"
            />
            <label for="email" class="modal-authorize__label-email"
              >Email: <span></span
            ></label>
          </div>
          <div class="modal-authorize__password-box">
            <input
              class="modal-authorize__input-passowrd"
              type="password"
              id="password"
              name="password"
              placeholder="Your Password"
            />
            <button class="modal-authorize__button-check-password btn-reset">
              Show
            </button>
            <label for="password" class="modal-authorize__label-password"
              >Password: <span></span
            ></label>
          </div>
          <div class="modal-authorize__checkbox-signed-box">
            <input
              class="modal-authorize__checkbox-signed"
              type="checkbox"
              id="signed"
              name="signed"
              checked
            />
            <label for="signed" class="modal-authorize__label-signed"
              >Keep me signed in</label
            >
          </div>
          <button class="modal-authorize__button-sign-in">sign in</button>
        </section>
      </form>
    </div>
    <div class="overlay-new-customer auth-active">
      <form class="modal-new-customer modal-authorize header__new-customer">
        <section class="modal-new-customer__inner modal-authorize__inner">
          <button
            class="modal-new-customer__button-close modal-authorize__button-close new-customer-close"
          >
            x
          </button>
          <div
            class="modal-new-customer__indicators modal-authorize__indicators"
          >
            <button class="modal-authorize__sign-in btn-reset sign-in">
              Sign in
            </button>
            <button
              class="modal-authorize__new-customer btn-reset active-modal-auth"
            >
              <!-- active-modal-auth -->
              New customer
            </button>
          </div>
          <div class="modal-new-customer__email-box modal-authorize__email-box">
            <input
              class="modal-new-customer__input-email modal-authorize__input-email"
              type=" email"
              id="new-email"
              placeholder="Your Email"
            />
            <label
              for="new-email"
              class="modal-new-customer__label-email modal-authorize__label-email"
              >Email: <span></span
            ></label>
          </div>
          <div
            class="modal-new-customer__password-box modal-authorize__password-box"
          >
            <input
              class="modal-new-customer__input-passowrd modal-authorize__input-passowrd"
              type="password"
              id="new-password"
              name="new-password"
              placeholder="Your Password"
            />
            <button
              class="modal-authorize__button-check-password show-create-pass btn-reset"
            >
              Show
            </button>
            <label
              for="new-password"
              class="modal-new-customer__label-password modal-authorize__label-password"
              >Password: <span></span
            ></label>
          </div>
          <div
            class="modal-new-customer__rep-box modal-authorize__password-box"
          >
            <input
              class="modal-new-customer__input-rep modal-authorize__input-passowrd"
              type="password"
              id="rep-pass"
              name="rep-pass"
              placeholder="Repeat Password"
            />
            <button
              class="modal-authorize__button-check-password show-create-rep-pass btn-reset"
            >
              Show
            </button>
            <label
              for="rep-pass"
              class="modal-new-customer__label-rep-pass modal-authorize__label-password"
              >Repeat password: <span></span
            ></label>
          </div>
          <div class="modal-authorize__checkbox-signed-box">
            <input
              class="modal-new-customer__checkbox-signed modal-authorize__checkbox-signed"
              type="checkbox"
              id="privacy-notice"
              name="privacy notice"
            />
            <a class="modal-new-customer__priv-notice" href="#" target="_blank"
              >privacy notice</a
            >
          </div>
          <div class="modal-new-customer__checkbox-sign-up-box">
            <input
              class="modal-new-customer__checkbox-sign-up modal-authorize__checkbox-signed"
              type="checkbox"
              id="sign-up"
              name="sign up"
            />
            <span class="modal-new-customer__notice-title">
              Yes, I would like to sign up for a & Other Stories account. I
              consent to let H&M Group process my personal data to provide me
              with a personalised & Other Stories account, in accordance with
              the
              <a
                class="modal-new-customer__priv-notice modal-new-customer__sign-up"
                href="#"
                target="_blank"
                >privacy notice</a
              >
            </span>
          </div>
          <button
            class="modal-new-customer__button-create-acc modal-authorize__button-sign-in"
          >
            create account
          </button>
        </section>
      </form>
    </div>
  </div>
  <div class="header__shop-cart mini-cart">
    <div class="mini-cart__inner">
      <p class="mini-cart__title-info">Your shopping bag is empty</p>
      <ul class="mini-cart__products">
        <!-- <li class="mini-cart__product">
          <a class="mini-cart__link" href="#">
            <img
              class="mini-cart__product-img"
              src="../img/productsImg/knits/2/colors/cream.jpg"
              alt="product"
            />
            <div class="mini-cart__descr">
              <p class="mini-cart__product-name">Oversized T-shirt</p>
              <p class="mini-cart__product-price">4999руб.</p>
              <p class="mini-cart__product-quantity">
                Quantity: <span>2</span>
              </p>
              <p class="mini-cart__product-color">Color: <span>Cream</span></p>
              <p class="mini-cart__product-size">Size: <span>XL</span></p>
            </div>
          </a>
        </li> -->
      </ul>
      <div class="mini-cart__box-count-product">
        <p class="mini-cart__count-title">Number of goods cart</p>
        <p class="mini-cart__count-value"></p>
      </div>
      <div class="mini-cart__box-order-value">
        <p class="mini-cart__order-value">Order value</p>
        <p class="mini-cart__price"></p>
      </div>
      <div class="mini-cart__box-shipping">
        <p class="mini-cart__shipping">Shipping</p>
        <p class="mini-cart__shipping-value">Free</p>
      </div>
      <div class="mini-cart__box-total">
        <p class="mini-cart__total">Total</p>
        <p class="mini-cart__total-price">4999руб.</p>
      </div>
      <button class="mini-cart__button-cart btn-reset">Shopping bag</button>
    </div>
  </div>
</header>
