// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";


@import "./components/header";
@import "./components/nav";
@import "./components/shop-nav";
@import "./components/content";
@import "./components/catalog";
@import "./components/stories";
@import "./components/stories-main";
@import "./components/stories-bottom";
@import "./components/footer";
@import "./components/modal-authorize";
@import "./components/modal-new-customer";
@import "./components/breadcrumbs";
@import "./components/catalog-clothes";
@import "./components/clothes";
@import "./components/catalog-navigation";
@import "./components/product";
@import "./components/current-product";
@import "./components/product-descr";






.site-container {
  display: block;

  &__content {
    margin-bottom: 30px;

  }
}


.error-title {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media (max-width: 1024px) {
  .site-container {
    &__content {
      margin-bottom: 90px;
    }
  }
}
